
body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #000;
    border: 3px solid #ffffff; 
    padding: 30px;
    width: 350px;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #111;
    color: #fff;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #39ff14;
    color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}


